<!-- templates/product_list.html -->
{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Product List</h2>
        <ul class="list-group">
            {% for product in products %}
            <li class="list-group-item">
                <h5>{{ product.name }}</h5>
                <p>{{ product.description }}</p>
                <p>{{ product.price }}</p>
                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
